# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.gch
*.pch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.*~
# Executables
*.exe
*.out
*.app
